.hero {
  position: relative;
}

.hero-text {
  position: relative;
  z-index: 22;
}

.hero .slider-left-dec {
  position: absolute;
  top: -115px;
  left: -145px;
  width: 1000px;
  z-index: 21;
}

.hero .slider-dec {
  position: absolute;
  max-width: 450px;
  z-index: -100;
 
}





@media (min-width: 1025px) {

  /* Original styles for large devices */
  .hero .slider-dec {
    top: 150px;
    right: -10px;
  }
}


@media (max-width: 480px) {
  /* Adjust the values for small devices */

  .hero .slider-dec {
    top: 480px;
    text-align: center;
    max-width: 280px;
    left: 25%;
    transform: translateX(-15%);
  }

}

@media (min-width: 481px) and (max-width: 719px) {

  /* Adjust the values for medium devices */
  .img-container {
    text-align: center;
  }

  .hero .slider-dec {
    top: 520px;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);

  }
}

@media (min-width: 720px) and (max-width: 1024px) {

  /* Adjust the values for medium devices */
  .hero .slider-dec {
    max-width: 450px;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);

  }
}