.about {
    position: relative;
    height: 50vh;

}

.about h1::after {
    content: " __ __";
    color: var(--blue-color);
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}

.about .box:hover h4 a {
    color: #4b8ef1;
}

.about .right-image {
    position: relative;
    z-index: 1;
}

.about .right-image img {
    overflow: hidden;
}



.about .nb span {
    font-size: 14px;
    color: #7a7a7a;
}

.about::after {
    background-image: url("../../assets/about-bg.jpg");
    width: 700px;
    height: 1132px;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    right: -0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
}
@media (max-width: 480px) {
    /* Adjust the values for small devices */
    .about .right-image img {
        margin: 0 !important;
        width: 100%;
       
    }
  
  }
@media (min-width: 481px) and (max-width: 719px) {
    /* Adjust the values for small devices */
    .about .right-image img {
        width: 500px !important;
       
    }

}
@media (min-width: 720px) and (max-width: 1024px) {
    .about .right-image img {
        margin: 0 auto;
        width: 80%;
       
    }
}

@media screen and (max-width: 1025px) {
    .about::after {
        display: none;
    }
    .about .right-image img {
        width: 85%;
       
    }
    .about h1::after,
    p,
    h1 {
        text-align: center;
    }
}