.nav-container {
    width: 100%;
    margin: 0 auto;
    padding: 2.4rem 10rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Adding shadow at the bottom */

}

@media (min-width: 1025px) {
    .nav-container {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-container {
        padding: 2.4rem 3rem;
    }
}

@media (max-width: 768px) {
    .nav-container {
        padding: 2.4rem 5rem; /* Adjusted padding value for better responsiveness */
    }
}

@media (max-width: 576px) {
    .nav-container {
        padding: 2.4rem 4rem; /* Adjusted padding value for better responsiveness */
    }
}
