.card{
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    /* to learn */
    transition: all .3s;
    
}
.card-1{
    height: 90%;
}

.card:hover {
    /* to learn */
    background-image: url('../../../assets/service-bg.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .icon  {
    margin-left: 0px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    width: 50px;
    height: 85px;
    transition: all .3s;
    z-index: 410;
}
.card .icon-1 {
    background-image: url('../../../assets/service-icon-01.png');
}
.card .icon-1:hover {
    background-image: url('../../../assets/service-icon-hover-01.png');
}
.card .icon-2 {
    background-image: url('../../../assets/service-icon-02.png');
}
.card .icon-2:hover {
    background-image: url('../../../assets/service-icon-hover-02.png');
}
.card .icon-3 {
    background-image: url('../../../assets/service-icon-03.png');
}
.card .icon-3:hover {
    background-image: url('../../../assets/service-icon-hover-03.png');
}
.card .icon-4 {
    background-image: url('../../../assets/service-icon-04.png');
}
.card .icon-4:hover {
    background-image: url('../../../assets/service-icon-hover-04.png');
}
.card h3 {
    transition: all .3s;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.card p {
    transition: all .3s;
    margin-bottom: 15px;
}
.card:hover h3,
 .card:hover p, 
 .card:hover  a {
    color: #fff;
}
 
 .card a {
    color: var(--blue-color);
    font-weight: 500;
    
}

.service-item p {
    transition: all .3s;
    font-size: 15px;
    margin-bottom: 20px;
}
.service-fourth-:hover .icon {
    background-image: url('../images/service-icon-hover-04.png');
}

@media (max-width: 767px){
.card {
    text-align: center;
    padding: 30px;
}
.card .icon {
    float: none;
    right: 0;
    margin-left: calc(100% - 50px);
    margin-bottom: 15px;
    
}
}